/*/*/build
/*/*/*/build
/*/*/target
/*/bin
/*/*/*/bin
/*/*/*/obj
/*/*/data

.DS_Store
Thumbs.db

**/.gradle
**/.project
**/.settings
**/.classpath
**/.idea
**/*.iml
*.log
**/.vs
**/.vscode

.env.*
!.env.example
local.properties
