.background-image-transparent {
    -fx-background-image: url(icons/transparent-background.png);
    -fx-background-size: contain;
}

.color-picker-selection-pane {
    -fx-background-color: gray, #ececec;
    -fx-background-insets: 1;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 5);
}


/* FIXME : move to common ? */

.scale-110-hover:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.scale-130-hover:hover {
   -fx-scale-x: 1.3;
   -fx-scale-y: 1.3;
}

.border-hover {
    -fx-border-width: 1.0;
    -fx-border-style: solid;
    -fx-border-color: transparent;
    -fx-padding: 5.0;
}

.border-hover:hover {
   -fx-border-color: dimgray;
}

.stroke-hover {
   -fx-stroke-width: 1.0;
   -fx-stroke: transparent;
}

.stroke-hover:hover {
   -fx-stroke-width: 1.0;
   -fx-stroke: dimgray;
}

.text-font-size-90 {
    -fx-font-size: 0.9em;
}