/*==== COMMON CLASSES ====*/
/*
 * Here : WIP CSS REWORK
 * GOAL : convert "feature oriented" css classes to "specification oriented" css classes.
 * The idea is to have a CSS more looking like "Bootstrap" : add several classes to a same object and to have specific classes only on specific features.
 * The goal is also to use em vs px font.
 *
 * This is separated from old css started with dev (main_css.css)
 */

/*== TEXT ==*/

.text-weight-bold {
    -fx-font-weight: bold;
}

.text-font-italic {
	-fx-font-style: italic;
}

.text-fill-gray {
    -fx-text-fill: gray;
}

.text-wrap-enabled {
    -fx-wrap-text: true;
}

.text-font-size-90 {
    -fx-font-size: 0.9em;
}

.text-font-size-120 {
    -fx-font-size: 1.2em;
}

.text-font-size-200 {
    -fx-font-size: 2em;
}

.text-h4 {
	-fx-font-weight: bold;
	-fx-font-size: 1.2em;
}

.text-label-center {
	-fx-text-alignment: center;
	-fx-alignment: center;
}

.text-label-right {
	-fx-text-alignment: right;
	-fx-alignment: right;
}

/*== BACKGROUND ==*/

.base-background-with-gray-border-1 {
    -fx-background-color: lightgrey, #FAFAFA;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 3;
}

/*== BORDERS ==*/

.border-bottom-gray {
    -fx-border-color: transparent transparent gray transparent;
}

.border-top-gray {
    -fx-border-color: gray transparent transparent transparent;
}


/*== HOVER ==*/
.scale-110-hover:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.scale-130-hover:hover {
   -fx-scale-x: 1.3;
   -fx-scale-y: 1.3;
}

.border-hover {
    -fx-border-width: 1.0;
    -fx-border-style: solid;
    -fx-border-color: transparent;
    -fx-padding: 5.0;
}

.border-hover:hover {
   -fx-border-color: dimgray;
}

.stroke-hover {
   -fx-stroke-width: 1.0;
   -fx-stroke: transparent;
}

.stroke-hover:hover {
   -fx-stroke-width: 1.0;
   -fx-stroke: dimgray;
}

/*== PADDING/MARGIN ==*/
.padding-0 {
    -fx-padding: 0;
}

/*== LIST VIEW AND LIST CELL ==*/

.list-cell-selection-disabled:filled {
    -fx-border-color: transparent transparent lightgray transparent;
    -fx-border-width: 0 0 1 0;
}

.list-cell-selection-disabled:focused {
    -fx-background-color: white;
}

/*== SPECIFIC FEATURES ==*/

.background-image-transparent {
    -fx-background-image: url(/icons/transparent-background.png);
    -fx-background-size: contain;
}

/*== SPECIFIC TUNINGS ==*/

.keylist-tree-cell .tree-disclosure-node {
   -fx-padding: 8 6 4 8;
}
.keylist-tree-cell{
    -fx-indent: 40;
}

/*== SPECIFIC DEV ==*/
.popup-bottom-dropshadow {
    -fx-effect: dropshadow(three-pass-box, gray, 10, 0, 0, 5);
}

/* "-fx-indent: 30;")*/