/*==== COMMON CLASSES ====*/
/*
 * Here : WIP CSS REWORK
 * GOAL : convert "feature oriented" css classes to "specification oriented" css classes.
 * The idea is to have a CSS more looking like "Bootstrap" : add several classes to a same object and to have specific classes only on specific features.
 * The goal is also to use em vs px font.
 *
 * This is separated from old css started with dev (main_css.css)
 */

/*== TEXT ==*/

.text-weight-bold {
    -fx-font-weight: bold;
}

.text-font-italic {
	-fx-font-style: italic;
}

.text-fill-gray {
    -fx-text-fill: gray;
}

.text-wrap-enabled {
    -fx-wrap-text: true;
}

.text-font-size-90 {
    -fx-font-size: 0.9em;
}

.text-font-size-120 {
    -fx-font-size: 1.2em;
}

.text-font-size-200 {
    -fx-font-size: 2em;
}

.text-h4 {
	-fx-font-weight: bold;
	-fx-font-size: 1.2em;
}

.text-label-center {
	-fx-text-alignment: center;
	-fx-alignment: center;
}

.border-bottom-gray {
    -fx-border-color: transparent transparent gray transparent;
}

.border-top-gray {
    -fx-border-color: gray transparent transparent transparent;
}


/*== PADDING/MARGIN ==*/

.padding-0 {
    -fx-padding: 0;
}

/*== LIST VIEW AND LIST CELL ==*/

.list-cell-selection-disabled:filled {
    -fx-border-color: transparent transparent lightgray transparent;
    -fx-border-width: 0 0 1 0;
}

.list-cell-selection-disabled:focused {
    -fx-background-color: white;
}


/*== SPECIFIC TUNNINGS ==*/

.keylist-tree-cell .tree-disclosure-node {
   -fx-padding: 12px 0.229em 0.333333em 0.229em;
}