/*========= COMMON CLASSES =========*/
/*
 * Here : WIP CSS REWORK
 * GOAL : convert "feature oriented" css classes to "specification oriented" css classes.
 * The idea is to have a CSS more looking like "Bootstrap" : add several classes to a same object and to have specific classes only on specific features.
 * The goal is also to use em vs px font.
 *
 * This is separated from old css started with dev (main_css.css)
 */

/*======= TEXT =======*/

.text-weight-bold {
    -fx-font-weight: bold;
}

.text-font-italic {
	-fx-font-style: italic;
}

.text-fill-gray {
    -fx-text-fill: gray;
}

.text-fill-dimgrey {
    -fx-text-fill: dimgrey;
}

.text-fill-white {
    -fx-text-fill: white;
}

.text-fill-red {
    -fx-text-fill: red;
}

.text-fill-primary {
    -fx-text-fill: -fx-main-primary;
}

.text-fill-primary-dark {
    -fx-text-fill: -fx-main-dark;
}

.text-wrap-enabled {
    -fx-wrap-text: true;
}

.text-font-size-80 {
    -fx-font-size: 0.8em;
}

.text-font-size-90 {
    -fx-font-size: 0.9em;
}

.text-font-size-110 {
    -fx-font-size: 1.1em;
}

.text-font-size-120 {
    -fx-font-size: 1.2em;
}

.text-font-size-200 {
    -fx-font-size: 2em;
}

.text-h3 {
    -fx-font-weight: bold;
    -fx-font-size: 1.3em;
}

.text-h4 {
	-fx-font-weight: bold;
	-fx-font-size: 1.2em;
}

.text-label-center {
	-fx-text-alignment: center;
	-fx-alignment: center;
}

.text-label-right {
	-fx-text-alignment: right;
	-fx-alignment: center-right;
}

.text-label-justify {
	-fx-text-alignment: justify;
	-fx-alignment: center;
}

/*======= OPACITY =======*/

.opacity-30 {
	-fx-opacity: 0.3;
}

/*======= BACKGROUND =======*/

.base-background-with-gray-border-1 {
    -fx-background-color: lightgrey, #FAFAFA;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 3;
}

.background-primary-dark {
    -fx-background-color: -fx-main-dark;
}

.background-transparent {
    -fx-background-color: transparent;
}

/*======= EFFECT =======*/

.dropshadow-bottom {
    -fx-effect: dropshadow( gaussian , rgba(0.0,0.0,0.0,0.4) , 10.0,0.0,0.0,1.0 );
}

/*======= BORDERS =======*/

.border-bottom-gray {
    -fx-border-color: transparent transparent gray transparent;
}

.border-top-gray {
    -fx-border-color: gray transparent transparent transparent;
}

.border-transparent {
    -fx-border-color: transparent;
}

.border-bottom-lightgrey {
    -fx-border-color: transparent transparent lightgrey  transparent;
}


/*======= HOVER =======*/

.scale-110-hover:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.scale-130-hover:hover {
   -fx-scale-x: 1.3;
   -fx-scale-y: 1.3;
}

.opacity-80-hover:hover {
	-fx-opacity: 0.8;
}

.border-hover {
    -fx-border-width: 1.0;
    -fx-border-style: solid;
    -fx-border-color: transparent;
    -fx-padding: 5.0;
}

.border-hover:hover {
   -fx-border-color: dimgray;
}

.stroke-hover {
   -fx-stroke-width: 1.0;
   -fx-stroke: transparent;
}

.stroke-hover:hover {
   -fx-stroke-width: 1.0;
   -fx-stroke: dimgray;
}

.dropshadow-hover:hover{
    -fx-effect: dropshadow( gaussian , rgba(0.0,0.0,0.0,0.7) , 20.0,0.0,1.0,1.0 );
}

/*======= PRESSED =======*/

.opacity-60-pressed:pressed {
	-fx-opacity: 0.6;
}

/*======= DISABLED =======*/

.opacity-40-disabled:disabled {
	-fx-opacity: 0.4;
}

/*======= SELECTED =======*/

.opacity-100-selected:selected {
	-fx-opacity: 1.0;
}

.stroke-selected:selected {
   -fx-stroke-width: 1.0;
   -fx-stroke: dimgray;
}

.scale-130-selected:selected {
   -fx-scale-x: 1.3;
   -fx-scale-y: 1.3;
}

/*======= PADDING/MARGIN =======*/

.padding-0 {
    -fx-padding: 0;
}

.padding-3_5 {
    -fx-padding: 3.5;
}

/*======= CONTENT DISPLAY =======*/

.content-display-graphic-only {
    -fx-content-display: graphic-only;
}

.content-display-center {
    -fx-content-display: center;
}

/*======= LIST VIEW AND LIST CELL =======*/

.list-cell-selection-disabled:filled {
    -fx-border-color: transparent transparent lightgray transparent;
    -fx-border-width: 0 0 1 0;
}

.list-cell-selection-disabled:focused {
    -fx-background-color: white;
}

/*======= SPECIFIC FEATURES =======*/

.background-image-transparent {
    -fx-background-image: url(/icons/transparent-background.png);
    -fx-background-size: contain;
}

.soft-selection-cell:filled:selected:focused, .soft-selection-cell:filled:selected  {
    -fx-background-color: #DCE1E3;
    -fx-border-color: lightgray transparent lightgray transparent;
}

/*======= SPECIFIC TUNINGS =======*/

.keylist-tree-cell .tree-disclosure-node {
   -fx-padding: 8 6 4 8;
}
.keylist-tree-cell{
    -fx-indent: 40;
}

/*======= SPECIFIC DEV =======*/
.popup-bottom-dropshadow {
    -fx-effect: dropshadow(three-pass-box, gray, 10, 0, 0, 5);
}

/*==== RIBBON TABS (main) ====*/
.ribbon-tabs {
	-fx-border-width: 0.0;
    -fx-border-color: transparent;
    -fx-background-color: white;
}
.ribbon-tabs .tab-header-area .tab {
	-fx-background-color: white;
    -fx-padding: 5.0 30.0 5.0 30.0;
}
.ribbon-tabs .tab-header-area .tab:selected {
	-fx-background-color: white;
	-fx-border-color: lightgray lightgray white lightgray;
	-fx-border-width: 1.0 1.0 1.0 1.0;
}
.ribbon-tabs .tab-header-area .tab:selected:disabled {
	-fx-background-color: white,white;
	-fx-border-color: lightgray lightgray white lightgray,lightgray lightgray white lightgray;
	-fx-border-width: 1.0 1.0 1.0 1.0;
}
.ribbon-tabs .tab:selected *.tab-label {
	-fx-text-fill: -fx-main-primary;
	-fx-font-weight: bold;
}
.ribbon-tabs .tab *.tab-label {
	-fx-text-fill: gray;
	-fx-font-size: 16.0px;
	-fx-font-family: "Calibri";
}
.ribbon-tabs .tab-header-area .tab:selected .focus-indicator {
    -fx-border-width: 0.0;
    -fx-border-color: transparent;
}
 .ribbon-tabs .tab-header-area{
	-fx-padding: 12.0px 3.0px 0.0px 50.0px;
}
.ribbon-tabs *.tab-header-background {
    -fx-background-color: white;
    -fx-border-width: 0.0 0.0 1.0 0.0;
    -fx-border-color: lightgray;
}
.ribbon-tabs *.tab-content-area {
    -fx-padding: 6.0px 1.0px 6.0px 1.0px;
}