/*
 * LIFE COMPANION CSS
 */
/*
* TODO : should be definitely reworked to having such a mess and to generalize some configurations... !
*/

/*==== CONSTANT ====*/
* {
   -fx-main-primary:#0395f4;
   -fx-main-light:#03bdf4;
   -fx-main-dark:#0277BD;
	-fx-second-primary:#F44336;
   -fx-second-light:#EF9A9A;
   -fx-second-dark:#C62828;
}

/*==== BASE UI COMPONENT ====*/
.spinner .increment-arrow-button .increment-arrow{
	-fx-background-color: -fx-main-primary;
}
.spinner .decrement-arrow-button .decrement-arrow{
	-fx-background-color: -fx-main-primary;
}
.spinner .decrement-arrow-button {
	-fx-background-color: transparent, #FAFAFA;
}
.spinner .increment-arrow-button {
	-fx-background-color: transparent, #FAFAFA;
}
.scroll-pane:focused {
    -fx-background-color:transparent;
}
.scroll-pane {
	-fx-background-color:transparent;
    -fx-border-color:transparent, transparent;
    -fx-border-width:0.0;
}
.list-view {
    -fx-border-color:lightgrey;
    -fx-border-width:1.0;
}
.list-view:focused {
	-fx-background-color:transparent;
}
.cell .text {
	-fx-text-fill: lightgrey;
}
.dialog-pane .content {
    -fx-wrap-text: true;
}
/* Combobox */
.combo-box-base .arrow-button .arrow {
	-fx-background-color: -fx-main-primary;
}
.combo-box-base  {
    -fx-background-color: transparent, #FAFAFA;
    -fx-background-radius: 3.0;
    -fx-border-radius: 3.0;
    -fx-border-color: lightgrey;
}
.combo-box-base:focused {
    -fx-background-color: transparent, #FAFAFA;
    -fx-background-radius: 3.0;
    -fx-border-radius: 3.0;
    -fx-border-color: lightgrey;
}

.search-combo-box {
    -fx-padding: 6.0 5.0 4.0 5.0;
}

/* Choicebox */
.choice-box .open-button .arrow{
	-fx-background-color: -fx-main-primary;
}
.choice-box {
    -fx-background-color: transparent, #FAFAFA;
    -fx-background-radius: 3.0;
    -fx-border-radius: 3.0;
    -fx-border-color: lightgray;
}
.choice-box:focused {
    -fx-background-color: transparent, #FAFAFA;
    -fx-background-radius: 3.0;
    -fx-border-radius: 3.0;
    -fx-border-color: lightgray;
}

/*==== TASK VIEW ====*/
.task-title-label{
	-fx-font-size: 12.0px;
    -fx-font-weight: bold;
}
.task-message-label{
	-fx-font-size: 11.0px;
    -fx-padding: 0.0 0.0 0.0 5.0;
}


.log-text-area {
	-fx-font-family: "Consolas";
	-fx-font-size: 11.0px;
}
.text-color-err{
	-fx-text-fill: red;
}
.text-color-out{
	-fx-text-fill: black;
}

/*==== LEFT PART ====*/
.left-titled-pane{
	-fx-text-fill: -fx-main-primary;
}
.left-part-sub-title{
	-fx-padding: 5.0 0.0 5.0 10.0;
	-fx-border-color: transparent transparent lightgray transparent;
	-fx-font: normal 14.0 "Calibri";
	-fx-text-fill: rgb(100.0,100.0,100.0);
}
.left-titled-pane .title  {
	-fx-text-fill: -fx-main-primary;
	-fx-font-size: 16.0px;
	-fx-font-family: "Calibri";
	-fx-font-weight: bold;
	-fx-background-color: white,white;
	-fx-border-color: lightgray transparent lightgray transparent;
	-fx-border-width: 1.0 0.0 2.0 0.0;
	-fx-background-radius: 0.0;
    -fx-border-radius: 0.0;
}
.left-titled-pane .title:hover  {
   -fx-opacity: 0.95;
}
.left-titled-pane .arrow-button .arrow{
	-fx-background-color: -fx-main-primary;
}
/* Label of item that can be added */
.label-add-item{
	-fx-text-fill: gray;
}
.label-add-item:hover{
	-fx-opacity: 0.85;
}

.user-comp-list-view {
	-fx-background-color:transparent;
	-fx-border-color: transparent;
}

.user-comp-list-cell {
	-fx-background-color: transparent;
}

.user-comp-list-cell:filled:selected:focused, .user-comp-list-cell:filled:selected  {
    -fx-background-color: #DCE1E3;
    -fx-border-color: lightgray transparent lightgray transparent;
}

/* Style for gallery item */
.gallery-item:hover{
	-fx-opacity: 0.85;
}
.gallery-item-textfield{
	-fx-border-color:null;
	-fx-text-fill: white;
	-fx-background-color: linear-gradient(to top,  rgba(50.0,50.0,50.0, 0.8),rgba(50.0,50.0,50.0,0.4) 80.0%,rgba(50.0,50.0,50.0,0.0) 100.0%);
}
.gallery-item-textfield:disabled{
	-fx-opacity: 1.0;
}
.bottom-border-part{
	-fx-border-color: transparent transparent -fx-main-primary transparent;
	-fx-border-width: 1.0;
	-fx-border-insets: 1.0 1.0 5.0 1.0;
}
.top-border-node{
	-fx-padding: 5.0 1.0 1.0 1.0;
	-fx-border-color: lightgray transparent transparent transparent;
	-fx-border-width: 1.0 0.0 0.0 0.0;
}

/*==== RIBBON ====*/
/* Container for tabs */
.ribbon-tabs {
	-fx-border-width: 0.0;
    -fx-border-color: transparent;
    -fx-background-color: white;
}
/* Tab default style, large padding and font */
.ribbon-tabs .tab-header-area .tab {
	-fx-background-color: white;
    -fx-padding: 5.0 30.0 5.0 30.0;
}
/* Selected tab in ribbon, draw a border and set font to bold */
.ribbon-tabs .tab-header-area .tab:selected {
	-fx-background-color: white;
	-fx-border-color: lightgray lightgray white lightgray;
	-fx-border-width: 1.0 1.0 1.0 1.0;
}
/* Selected AND disabled tab, draw the same border as selected */
.ribbon-tabs .tab-header-area .tab:selected:disabled {
	-fx-background-color: white,white;
	-fx-border-color: lightgray lightgray white lightgray,lightgray lightgray white lightgray;
	-fx-border-width: 1.0 1.0 1.0 1.0;
}
/* Label when tab is selected */
.ribbon-tabs .tab:selected *.tab-label {
	-fx-text-fill: -fx-main-primary;
	-fx-font-weight: bold;
}
/* Label when tab is NOT selected */
.ribbon-tabs .tab *.tab-label {
	-fx-text-fill: gray;
	-fx-font-size: 16.0px;
	-fx-font-family: "Calibri";
}
/* Focused tab in ribbon : don't show it */
.ribbon-tabs .tab-header-area .tab:selected .focus-indicator {
    -fx-border-width: 0.0;
    -fx-border-color: transparent;
}
/* Shift the header to put the menu button */
 .ribbon-tabs .tab-header-area{
	-fx-padding: 12.0px 3.0px 0.0px 50.0px;
}
/* Background of tabs, to disable border*/ 
.ribbon-tabs *.tab-header-background {
    -fx-background-color: white;
    -fx-border-width: 0.0 0.0 1.0 0.0;
    -fx-border-color: lightgray;
}
/* Content of the tab, to add padding*/ 
.ribbon-tabs *.tab-content-area {
    -fx-padding: 6.0px 1.0px 6.0px 1.0px;
}
/* Style for ribbon part title */
.ribbon-part-title {
	-fx-alignement: center;
	-fx-text-fill: gray;
	-fx-font-size: 12.0px;
	-fx-font-family: "Calibri";
}
.label-type-title{
	-fx-alignement: center;
	-fx-font-size: 13.0px;
	-fx-font-family: "Calibri";
	-fx-font-weight: bold;
}
.box-selection-button{
	-fx-border-color: lightgray;
	-fx-border-width: 1.0 1.0 1.0 0.0;
	-fx-border-radius: 0.0 3.0 3.0 0.0;
}

.box-selection-center{
	-fx-border-color: lightgray;
	-fx-border-width: 1.0 0.0 1.0 0.0;
}

/*==== BUTTONS ====*/
/* All button that contains graphics and text */
.text-base-button {
	-fx-background-color: none;
}
.text-base-button:hover {
	-fx-opacity: 0.8;
}
.text-base-button:pressed {
	-fx-opacity: 0.6;
}
.text-base-button:selected {
	-fx-border-color: lightgray;
	-fx-border-width: 1.5;
	-fx-border-radius: 5.0;
}

.remove-style-property-button {
	/*-fx-padding: 0.0;
	-fx-border-width: 1.0;
	-fx-border-radius: 0.0;*/
	-fx-padding: 0.0 2.0 0.0 2.0;
	-fx-background-color: transparent;
}
.remove-style-property-button:selected {
	-fx-background-color: gray,lightgray;
	-fx-background-insets: 0.0,1.0;
}

/* All button that contains only graphics */
.image-base-button {
	-fx-opacity : 1.0;
	-fx-background-color: none;
	-fx-content-display: graphic-only;
}
.image-base-button:hover {
	-fx-opacity: 0.8;
}
.image-base-button:pressed {
	-fx-opacity: 0.6;
}
.image-base-button:selected {
	-fx-border-color: lightgray;
	-fx-border-width: 1.5;
	-fx-border-radius: 5.0;
}
.material-button-base{
	-fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 9.0, 0.0 , 0.0 , 1.0 );
	-fx-background-color: white;	
}

.material-button-round-add{
	-fx-background-radius: 50.0px;
	-fx-background-insets: 10.0 9.0 8.0 8.0;
}

/* Option button on config component */
.option-button-base {
	-fx-background-color: -fx-second-primary;
	-fx-content-display: graphic-only;
	-fx-opacity: 0.3;
}
.option-button-base:hover {
	-fx-opacity: 0.8;
}
.option-button-base:pressed {
	-fx-opacity: 0.6;
}
.option-button-base:disabled {
	-fx-opacity: 0.4;
}
.option-button-base:selected {
	-fx-border-color: lightgray;
	-fx-border-width: 2.0;
	-fx-opacity: 1.0;
}
.option-op-button {
	-fx-background-color:-fx-second-primary;
	-fx-content-display: center;
}

.quick-action-button-base {
	-fx-content-display: graphic-only;
	-fx-opacity: 0.8;
}
.quick-action-button-primary {
	-fx-background-color: -fx-main-dark;
}
.quick-action-button-secondary {
	-fx-background-color: -fx-second-dark;
}
.quick-action-button-base:hover {
	-fx-opacity: 0.8;
}
.quick-action-button-base:pressed {
	-fx-opacity: 0.6;
}
.quick-action-button-base:disabled {
	visibility: hidden;	
}

.explain-text {
    -fx-text-fill: gray;
	-fx-font-style: italic;
	-fx-wrap-text: true;
}

.key-list-item-title {
	-fx-font: bold 16.0 "Calibri";
	-fx-text-alignment: center;
	-fx-alignment: center;
}

.key-list-item-title {
	-fx-text-fill: darkgray;
    -fx-font-size: 14.0px;
    -fx-font-weight: bold;
}

.center-label {
	-fx-text-alignment: center;
	-fx-alignment: center;
}

/*==== ACTIONS ====*/
.sub-category-title{
	-fx-border-color: transparent transparent gray transparent;
	-fx-font: normal 14.0 "Calibri";
}
.use-action-header {
	-fx-background-color: -fx-main-primary;
}
.header-title{
	-fx-font: normal bold 18.0 "Calibri";
	-fx-text-fill: white;
}

.header-title-hoverable:hover{
    -fx-opacity: 0.8;
}

.main-category-grid-cell:hover{
	-fx-effect: dropshadow( gaussian , rgba(0.0,0.0,0.0,0.7) , 20.0,0.0,1.0,1.0 );
}

.use-action-grid-cell:hover{
	-fx-effect: dropshadow( gaussian , rgba(0.0,0.0,0.0,0.7) , 20.0,0.0,1.0,1.0 );	
}

.transparent-border-scroll-pane {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}
.top-border-pane{
	-fx-border-color: gray transparent transparent transparent;
}

/*==== MENU ====*/
.main-menu{
	-fx-effect: dropshadow( gaussian , rgba(0.0,0.0,0.0,0.7) , 20.0,0.0,1.0,1.0 );	
}

.main-menu-section {
	-fx-background-color: white;
	-fx-border-color:transparent gray transparent transparent;
	-fx-opacity: 0.95;
}

.main-menu-section-bottom {
	-fx-border-color:transparent gray gray transparent;
	-fx-border-radius: 0.0 0.0 10.0 0.0;
	-fx-background-radius: 0.0 0.0 10.0 0.0;
}

.main-menu-section-top {
	-fx-border-color:gray gray transparent transparent;
	-fx-border-radius: 0.0 10.0 0.0 0.0;
	-fx-background-radius: 0.0 10.0 0.0 0.0;
}

.import-blue-title {
	-fx-text-fill: -fx-main-dark;
    -fx-font-size: 20.0px;
    -fx-padding: 10.0 0.0 0.0 0.0;
    -fx-font-familly: "Calibri";
}

.configuration-and-profile-title {
	-fx-text-fill: -fx-main-dark;
    -fx-font-size: 20.0px;
    -fx-padding: 5.0 0.0 0.0 0.0;
    -fx-font-familly: "Calibri";
}

.user-comp-title {
	 -fx-text-fill: -fx-main-dark;
    -fx-font-size: 14.0px;
    -fx-padding: 2.0 0.0 0.0 0.0;  
    -fx-font-familly: "Calibri";
}

.use-action-cell-name {
	-fx-text-fill: -fx-main-dark;
    -fx-font-size: 14.0px;
    -fx-font-familly: "Calibri";
}

.use-action-cell-description {
	-fx-text-fill: dimgray;
    -fx-font-size: 11.0px;
}

.menu-part-title{
	-fx-border-color: transparent transparent lightgrey transparent;
	-fx-font: normal 14.0 "Calibri";
	-fx-padding: 15.0 0.0 0.0 0.0;
	-fx-text-fill: dimgray;
}

/* === TOOLFRAME === */
.toolframe-header-background{
	-fx-background-color: -fx-main-dark;
	-fx-border-color: transparent;
}

/* === VOICE SYNTHESIZER LIST === */
.voice-synthesizer-cell-name {
	-fx-text-fill: -fx-main-dark;
    -fx-font-size: 14.0px;
    -fx-font-familly: "Calibri";
}

.voice-synthesizer-cell-description {
	-fx-text-fill: dimgray;
    -fx-font-size: 11.0px;
    -fx-wrap-text: true;
}

.voice-synthesizer-cell-systems {
	-fx-text-fill: dimgray;
    -fx-font-size: 10.0px;
    -fx-font-style: italic;
}
.voice-synthesizer-list-cell:filled:selected:focused, .voice-synthesizer-list-cell:filled:selected  {
    -fx-background-color: #DCE1E3;
    -fx-border-color: lightgray transparent lightgray transparent;
}

/* === USE VARIABLE BOX === */
.use-variable-list-cell:filled:selected:focused, .use-variable-list-cell:filled:selected  {
    -fx-background-color: #DCE1E3;
    -fx-border-color: lightgray transparent lightgray transparent;	
}
.use-variable-cell-name {
	-fx-text-fill: -fx-main-dark;
    -fx-font-size: 13.0px;
    -fx-font-familly: "Calibri";
}

.use-variable-cell-description {
	-fx-text-fill: dimgray;
    -fx-font-size: 11.0px;
}

.use-variable-cell-example {
	-fx-text-fill: dimgray;
    -fx-font-size: 10.0px;
    -fx-font-style: italic;
}

/* === SELECTION MODE LIST === */
.selection-mode-cell-name {
	-fx-text-fill: -fx-main-dark;
    -fx-font-size: 14.0px;
    -fx-font-familly: "Calibri";
}

.selection-mode-cell-description {
	-fx-text-fill: dimgray;
    -fx-font-size: 11.0px;
}

.selection-mode-list-cell {
	-fx-border-color: lightgray transparent transparent transparent;
}

.selection-mode-list-cell:filled:selected:focused, .selection-mode-list-cell:filled:selected  {
    -fx-background-color: #DCE1E3;
}

/* === EVENT === */
.event-title-head{
	-fx-font: normal bold 16.0 "Calibri";
	-fx-text-fill: -fx-main-dark;
}

/* === EVENT === */
.plugin-information-title {
	-fx-text-fill: -fx-main-dark;
    -fx-font-weight: bold;
}

.component-selector-control {
	-fx-focus-traversable: false;
	-fx-background-color:transparent;
	-fx-border-width: 0.0;
	-fx-border-color: transparent;
}

/* === PROFILE LIST === */
.custom-list-cell:filled:selected:focused, .custom-list-cell:filled:selected  {
    -fx-background-color: #DCE1E3;
    -fx-border-color: lightgray transparent lightgray transparent;
}

/* === TEXT DISPLAYER COMPONENT */
.text-displayer-scroll-pane > .viewport {
   -fx-background-color: transparent;
}
.text-displayer-scroll-pane > .scroll-bar {
   -fx-background-color: transparent;
}

/* === USE ONLY COMPONENT */
.use-only-button {
    -fx-background-color: 
        -fx-main-dark,
        linear-gradient(#7ebcea,-fx-main-primary);
    -fx-background-insets: 0.0,1.0;
    -fx-background-radius: 3.0,2.0;
    -fx-padding: 12.0 30.0 12.0 30.0;
    -fx-text-fill: white;
    -fx-font: bold 18.0 "Calibri";
}
.use-only-button:hover{
	-fx-opacity: 0.8;
}

.use-only-progress-bar { 
	-fx-accent: -fx-main-dark;
}

.use-only-progress-bar > .track {
  -fx-text-box-border: -fx-main-primary;
  -fx-control-inner-background: azure ;
}

.text-border-test {
	-fx-border-color: red; 
	-fx-border-width: 2.0px;
}


.modified-text-indicator {
	-fx-font-size: 18.0;
	-fx-font-weight: bold;
	-fx-padding: 0.0;
}

.tooltip {
	-fx-font-size: 11.0;
	-fx-font-weight: normal;
}

.config-tip-label {
	-fx-font-size: 18.0;
	-fx-font-weight: bold;
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-border-color: transparent transparent lightgray transparent;
	-fx-border-width: 0.0 0.0 2.0 0.0;
}

.config-tip-message-label {
	-fx-text-alignment: justify;
	-fx-wrap-text: true;
}

.general-app-info-label{
	-fx-font: normal 13.0 "Calibri";
	-fx-wrap-text: true;
}

.more-app-info-label{
	-fx-font: normal 12.0 "Calibri";
}

.record-sound-toggle {
	-fx-border-color: transparent;
	-fx-border-width: 1.0;
}

.record-sound-toggle:selected {
	-fx-border-color: darkgray;
	-fx-border-width: 1.0;
	-fx-background-color: lightgray;
}

/* === NOTIFICATION STYLE CONTROLSFX */

.notification-bar > .pane {
    -fx-background-color: -fx-main-dark, white;
    -fx-padding: 2.0px;
}

.from-top-notification-view > .notification-bar > .pane {
    -fx-background-insets: 0,0 0 1 0;
}

.from-bottom-notification-view > .notification-bar > .pane {
    -fx-background-insets: 0,1 0 0 0;
}

.notification-action-button {
	-fx-font-size: 11.0;
	-fx-border-color: lightgray;
	-fx-border-width: 1.0;
}

.image-element-view {
    -fx-font-size: 11.0;
}

.image-element-view:hover {
	-fx-opacity: 0.85;
}

.image-dictionary-title {
	-fx-font: normal 14.0 "Calibri";
}

.image-dictionary-title-box {
    -fx-border-color: transparent transparent gray transparent;
}

.transparent-scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.transparent-scroll-pane {
	-fx-border-color: transparent;
}

.button-with-bottom-padding-only {
    -fx-padding: 0 0 5 0;
}

.button-without-padding {
    -fx-padding: 0 0 0 0;
}

.button-icon-text-bigger {
    -fx-font-size: 14.0;
}

.generic-part-title {
    -fx-font: normal 14.0 "Calibri";
    -fx-text-fill: dimgrey;
    -fx-border-color: transparent transparent gray transparent;
}

.bottom-border {
    -fx-border-color: transparent transparent gray transparent;
}

.action-grid-title {
    -fx-font-weight: bold;
}


.button-in-current-profil-config-list {
    -fx-font-size: 11.0px;
    -fx-padding: 0 0 5 0;
}

.current-profile-in-config-list {
 	-fx-text-fill: -fx-main-dark;
    -fx-font-size: 13.0px;
    -fx-font-weight: bold;
    -fx-font-familly: "Calibri";
 }

 .general-config-menu-pane {
    -fx-background-color: -fx-main-dark;
    -fx-border-width: 0 1 0 0;
    -fx-border-color: transparent #f4f4f4 transparent transparent;
 }

 .general-config-menu-button {
    -fx-font: normal 16.0 "Calibri";
    -fx-text-fill: white;
    -fx-margin: 5.0;
    -fx-padding: 10.0 5.0 5.0 5.0;
    -fx-border-color: transparent transparent lightgray transparent;
 }

 .general-config-menu-button:hover {
 	-fx-opacity: 0.85;
 }

 .general-config-menu-button-selected {
    -fx-text-fill: #5c5c5c;
    -fx-border-color: transparent transparent gray transparent;
    -fx-background-color: #f4f4f4;
 }

 .selection-mode-config-dialog .content {
    -fx-padding: 0;
 }

 .plugin-info-list-cell-name {
 	-fx-text-fill: -fx-main-dark;
    -fx-font-size: 14.0px;
    -fx-font-familly: "Calibri";
 }
 .plugin-info-list-cell-author {
    -fx-text-fill: dimgray;
    -fx-font-size: 12.0px;
  }
 .plugin-info-list-cell-description {
 	-fx-text-fill: dimgray;
    -fx-font-size: 12.0px;
 }


.table-view-p4a .cell {
    -fx-font-size: 8.0pt;
}

.cell .col-predicted-word {
	-fx-font-weight: bold;
}

.cell .col-debug-info {
	-fx-text-fill: #818181;
    -fx-font-family: "monospace";
}

.default-color0.chart-series-line {
	-fx-stroke-width: 1.0px;
}

.memory-chart .default-color0.chart-series-line {
  -fx-stroke: darkblue;
}

.timing-debug-info {
	-fx-font-size: 8.0pt;
	-fx-text-fill: #818181;
    -fx-font-family: "monospace";
}

.chart-title {
  	-fx-font-size: 7.0pt;
	-fx-text-fill: #333333;
    -fx-font-family: "monospace";
}

.axis-label {
   	-fx-font-size: 8.0pt;
	-fx-text-fill: #333333;
    -fx-font-family: "monospace";
}

.correction-rule-title {
	-fx-font: bold 14.0 "Calibri";
	-fx-text-fill: rgb(100.0,100.0,100.0);
}

.box-with-bottom-border {
	-fx-padding: 0.0 0.0 0.0 0.0;
	-fx-border-color: transparent transparent lightgray transparent;
	-fx-border-width: 1.0;
	-fx-border-style: solid;
}

.part-title-label {
	-fx-font: bold 14.0 "Calibri";
	-fx-text-fill: rgb(100.0,100.0,100.0);
	-fx-padding: 0.0 0.0 0.0 0.0;
	-fx-border-color: transparent transparent lightgray transparent;
	-fx-border-width: 1.0;
	-fx-border-style: solid;
}

.small-button {
	-fx-padding: 0.0;
}

.correction-rule-list-view-label {
	-fx-text-fill: #4b4b4b;
    -fx-font-size: 11.0px;
}

.rule-explained-label {
	-fx-font-size: 11.0;
	-fx-text-fill: rgb(100.0,100.0,100.0);
}

.rule-category-cell-name {
	-fx-text-fill: -fx-main-dark;
    -fx-font-size: 13.0px;
    -fx-font-familly: "Calibri";
}

.rule-category-cell-description {
	-fx-text-fill: dimgray;
    -fx-font-size: 11.0px;
}

.rule-category-cell-example {
	-fx-text-fill: dimgray;
    -fx-font-size: 10.0px;
}

.rule-category-list-cell {
	-fx-border-color: lightgray transparent transparent transparent;
}

.rule-category-list-cell:filled:selected:focused, .rule-category-list-cell:filled:selected  {
    -fx-background-color: #DCE1E3;
}

.item-list-flow-pane-label {
	-fx-font-size: 11.0px;
}

.item-list-flow-pane-field {
	-fx-font-size: 11.0px;
	-fx-background-color: #f0f0f0 #f0f0f0 #f0f0f0;
	-fx-border-color: transparent;
	-fx-padding: 0.0;
	-fx-pref-column-count: 8.0;
}

.item-list-flow-pane-rec {
	-fx-border-color: gray;
	-fx-background-color: #f0f0f0;
	-fx-padding: 2.0 4.0 2.0 4.0;
	-fx-border-width: 1.0;
	-fx-border-style: solid;
	-fx-border-radius: 5.0;
}

.item-flow-pane-add-button {
	-fx-padding: 2.0;
}

.correction-rule-leaf {
	-fx-padding: 8.0 10.0 2.0 10.0;
	-fx-border-color: transparent lightgray lightgray lightgray;
	-fx-border-width: 0.0 1.0 1.0 1.0;
	-fx-border-style: solid;
	-fx-border-radius: 0.0 0.0 3.0 3.0;
}

.link-words-src {
	-fx-font-size: 11.0px;
	-fx-padding: 0.0 0.0 0.0 0.0;
}

.default-configuration-title {
   	-fx-text-fill: -fx-main-dark;
    -fx-font-size: 14.0px;
    -fx-font-familly: "Calibri";
}

.default-configuration-author {
   -fx-text-fill: darkgray;
   -fx-font-weight: bold;
}

.default-configuration-description {
   	-fx-text-fill: gray;
}

/*==== COMMON CLASSES ====*/
/*
 * Here : WIP CSS REWORK
 * GOAL : convert "feature oriented" css classes to "specification oriented" css classes.
 * The idea is to have a CSS more looking like "Bootstrap" : add several classes to a same object and to have specific classes only on specific features.
 * The goal is also to use em vs px font.
 */

/*==== COMMON CLASSES ====*/

/*== TEXT ==*/
.text-weight-bold {
    -fx-font-weight: bold;
}

.text-font-italic {
	-fx-font-style: italic;
}

.text-fill-gray {
    -fx-text-fill: gray;
}

.text-wrap-enabled {
    -fx-wrap-text: true;
}

.text-font-size-90 {
    -fx-font-size: 0.9em;
}

.text-font-size-120 {
    -fx-font-size: 1.2em;
}

.text-font-size-200 {
    -fx-font-size: 2em;
}

.text-h4 {
	-fx-font-weight: bold;
	-fx-font-size: 1.2em;
}

.text-label-center {
	-fx-text-alignment: center;
	-fx-alignment: center;
}

.border-bottom-gray {
    -fx-border-color: transparent transparent gray transparent;
}

.border-top-gray {
    -fx-border-color: gray transparent transparent transparent;
}


/*== PADDING/MARGIN ==*/

.padding-0 {
    -fx-padding: 0;
}

/*== LIST VIEW AND LIST CELL ==*/
.list-cell-selection-disabled:filled {
    -fx-border-color: transparent transparent lightgray transparent;
    -fx-border-width: 0 0 1 0;
}
.list-cell-selection-disabled:focused {
    -fx-background-color: white;
}