.label-explain-title {
	-fx-alignement: center;
	-fx-font-size: 13.0px;
	-fx-font-weight: bold;
}

.label-i-text {
    -fx-text-fill: gray;
	-fx-font-style: italic;
}

.text-area-install-log {
    -fx-font-size: 10px;
}

.label-license {
    -fx-font-family: 'monospace';
    -fx-font-size: 11px;
    -fx-background-color: white;
    -fx-wrap-text: true;
    -fx-text-fill: dimgrey;
}

.error-label {
    -fx-text-fill: darkred;
	-fx-font-weight: bold;
}

.success-label {
	-fx-font-weight: bold;
}